extends layout

block content
  .jumbotron
    .container
      h1(class='title') Who is this guy?
  
  div(class='container main-content')
    article
      p #[h1 Web Developer] I have a passion for web technologies and have quite a bit of experience with Javascript and PHP, and more recently Node.js. This site is actually built on top of Node.js and Bootstrap, with some custom LESS styling to keep it from looking too vanilla Bootstrap. The site itself (not the content) is licensed under the BSD license and will eventually get posted to my GitHub page.
      p A friend and I are working on another project at #[a(href='http://kycapitolwatch.com') kycapitolwatch.com], and that can give you an idea of some of the other work I've done. That site involves constantly scraping a messy KY government site to get the data, storing it in a DB and serving it with PHP.
      p #[h1 System Administrator] I also have experience with server operating systems and networking. This site is running on a virtual server that I setup on my own rather than using a generic hosting plan. This lets me customize my stack and optimize everywhere I can, and there's a definite speed increase from doing so. The site is running on a #[a(href='https://www.freebsd.org') FreeBSD] server with #[a(href='http://nginx.org/en/') nginx], and it's very performant.
      p #[h1 IT Support] Tech support is my most common work and as such I've gotten very familiar with any OS you can throw at me. Windows 95 to Windows 8, Mac OS X, various flavors of Linux and FreeBSD. And while I'm good at setting up servers and networks from scratch, I'm equally good if not better and fixing broken things.
      p #[h1 Student] I'm a student at EKU, studying for a BBA in Computer Information Systems. As such, I have plenty of free time for projects throughout most of the year and work contractually for a couple of businesses solving IT problems. See the #[a(href='/services') services] page for information on what I do.
      p #[h1 Geek] As a self-defined computer geek, I've spent most of my life breaking computers and learning how to put them back together. This gives me a lot of self-taught knowledge that no education program on its own can give someone. This passion for computers drives me in all the work I do.
      p #[h1 Austin Holbrook] I'm Austin Holbrook, a web developer, system administrator,  and do IT support work. I'm living in Richmond, KY and regularly travel around the nearby cities to do IT work. I'm dating a #[a(href='https://instagram.com/tbareit92/') great guy] and incredibly lucky to do so!