extends layout

block content
  .jumbotron
    .container
      h1(class='title') Austin Holbrook
      p A developer, system administrator, web designer and all around geek.
  
  .container
    article
      
    
  br